@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Sen', sans-serif;
}
body{
    background-color:rgb(26, 26, 56);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.container{
    width: 500px;
    height: 750px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
}

form{
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
    position: relative;
}

form input{
    width: 100%;
    height: 100%;
    border: none;
    padding-left: 20px;
    font-size: large;
    border-radius: 15px;
}


form button{
    width: 10%;
    height: 96%;
    border: none;
    position: absolute;
    top : 2px;
    right: 5px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.weather-info img {
    width: 70%;
}

.weather-info{
    height: 92%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.weather-info  h1{
    font-weight: 700;
    font-size: 3rem;
}


.weather-info span {
    font-size: 6rem;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

form input:focus-visible {
    border: none;
}